.container {
  padding: 0 100px
}
.subtitle {
  padding: 100px 0;
  font-size: 30px;
}

/* ./共通 */



.bg-slider {
  background-size: cover;
  height: 600px;
  /* 曲線化 */
  border-bottom-right-radius: 2000px 300px;
  border-bottom-left-radius: 2000px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;

}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  position: relative;
}


.toplogo {
  width: 300px;
}
.header_nav {
  display: flex;
}
.header_nav_part{
  margin-left: 40px;
  list-style: none;
}
.header_nav_part a {
  text-decoration: none;
  color: #fff;
}

/* ./header */



.catchcopy {
  background-color: #F6F6F6;

}
.catchcopy_container {
  max-width: 300px;
    margin: 0 auto;
    text-align: center;

}
.catchcopy_container p {
  padding-bottom: 30px;
}
.catchcopy_container p:first-child {
  padding: 100px 0;
}

/* ./catchcopy */



.product_articles {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.product_articles_part {
  width: 250px;
  height: 400px;
}
.product_articles_part img {
  width: 100%;
}
/* ./product */

.news {
  background-color: #F6F6F6;
  padding-bottom: 50px;
}

.news_title {
  font-weight: bold;
}

.news_articles_part {
  height: 200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* padding: 50px 0; */
  margin-bottom: 100px;
}
.news_articles_part_text {
  padding: 0 40px;
}


.news_articles_part img{
  width: 300px;
}



/* ./news */


.footer_nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  background-color: #939899;
  padding: 50px 0;
}

.footer_nav_part {
  margin-left: 30px;
}
.footer_nav_part a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.footer_logo {
  background-color: #656C6E;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer_logo p {
  color: #fff;
}
